.funny-glasses {
    position: relative;
    left: 213px;
    top: -108px;
}

.bandana {
    position: absolute;
    top: 177px;
    left: 112px;
    rotate: -3deg;
}

.pawprint {
    position: fixed;
    top: 42px;
    left:65px;
}

.luna {
    position: absolute;
}

.top-hat {
    z-index: 1;
}